<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form method="post" action="/listings/<%= listing._id %>?_method=put"  class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <lable for="title" class="form-lable">Title</lable>
                <input  name="listing[title]"  type="text" value="<%=listing.title%>" class="form-control" required>
                <div class="invalid-feedback">Title is required</div>
            </div>
            <div class="mb-3">
                <lable for="description" class="form-lable">Description</lable>
                <textarea name="listing[description]" type="text" class="form-control" required><%=listing.description%></textarea>
                <div class="invalid-feedback">Description is required</div>
            </div>
            <div class="mb-3">
                Original Listing Image<br/>
                <img src="<%=originalImageUrl%>" style="height:10rem; width:20rem;">
            </div>
            <div class="mb-3">
                <lable for="image" class="form-lable">Upload Image</lable>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                   <lable for="price" class="form-lable">Price</lable>
                   <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required>
                   <div class="invalid-feedback">Price is required</div>
                </div>
                <div class="mb-3 col-md-8">
                   <lable for="country" class="form-lable">Country</lable>
                   <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                   <div class="invalid-feedback">Country is required</div>
                </div>
            </div>
            <div class="mb-3">
                <lable for="location" class="form-lable">Location</lable>
                <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
                <div class="invalid-feedback">Location is required</div>
            </div>
            <button class="btn btn-dark edit-btn mt-2">Edit</button>
            <br/>
            <br/>
        </form>
    </div>
</div>